openapi: 3.2.0
info:
  description: Azure DevOps Resource Provider
  title: Azure DevOps Operations Pipeline Template Definitions API
  version: '2.0'
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-ms-code-generation-settings:
    name: DevOpsClient
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/devops/resource-manager/Microsoft.DevOps/preview/2019-07-01-preview/devops.json
  x-providerName: azure.com
  x-serviceName: devops
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: PipelineTemplateDefinitions
paths:
  /providers/Microsoft.DevOps/pipelineTemplateDefinitions:
    get:
      description: Lists all pipeline templates which can be used to configure an Azure Pipeline.
      operationId: PipelineTemplateDefinitions_List
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: The pipeline template definitions have been fetched successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineTemplateDefinitionListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      tags:
      - PipelineTemplateDefinitions
      x-ms-examples:
        Get the list of pipeline template definitions:
          parameters:
            api-version: 2019-07-01-preview
          responses:
            '200':
              body:
                value:
                - description: Template for configuring CI/CD pipeline for ASP.Net app on Azure windows app service
                  id: ms.vss-continuous-delivery-pipeline-templates.aspnet-windowswebapp
                  inputs:
                  - description: Authorization for Azure ARM endpoints.
                    id: azureAuth
                    possibleValues: []
                    type: String
                  - description: Id of subscription where azure resources will be created.
                    id: subscriptionId
                    possibleValues: []
                    type: String
                  - description: A resource group is a collection of resources that share the same lifecycle, permissions, and policies. Name of resource group which should contain web app.
                    id: resourceGroup
                    possibleValues: []
                    type: String
                  - description: Name of web app to be created
                    id: webAppName
                    possibleValues: []
                    type: String
                  - description: Choose the Azure region that's right for you and your customers.
                    id: location
                    possibleValues: []
                    type: String
                  - description: Details of cost and compute resource associated with the web app
                    id: appServicePlan
                    possibleValues:
                    - displayValue: P1 Premium (1 Core, 1.75 GB RAM)
                      value: P1 Premium
                    - displayValue: P2 Premium (2 Core, 3.5 GB RAM)
                      value: P2 Premium
                    - displayValue: P3 Premium (4 Core, 7 GB RAM)
                      value: P3 Premium
                    - displayValue: S1 Standard (1 Core, 1.75 GB RAM)
                      value: S1 Standard
                    - displayValue: S2 Standard (2 Core, 3.5 GB RAM)
                      value: S2 Standard
                    - displayValue: S3 Standard (4 Core, 7 GB RAM)
                      value: S3 Standard
                    - displayValue: B1 Basic (1 Core, 1.75 GB RAM)
                      value: B1 Basic
                    - displayValue: B2 Basic (2 Core, 3.5 GB RAM)
                      value: B2 Basic
                    - displayValue: B3 Basic (4 Core, 7 GB RAM)
                      value: B3 Basic
                    - displayValue: F1 Free
                      value: F1 Free
                    - displayValue: D1 Shared
                      value: D1 Shared
                    type: String
                  - description: Collect application monitoring data using Application Insights.
                    id: appInsightLocation
                    possibleValues: []
                    type: String
              description: The pipeline template definitions have been fetched successfully.
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Azure DevOps Pipeline Template Definitions_ List
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    PipelineTemplateDefinition:
      description: Definition of a pipeline template.
      properties:
        description:
          description: Description of the pipeline enabled by the template.
          type: string
        id:
          description: Unique identifier of the pipeline template.
          type: string
        inputs:
          description: List of input parameters required by the template to create a pipeline.
          items:
            $ref: '#/components/schemas/InputDescriptor'
          type: array
      required:
      - id
      type: object
    CloudError:
      description: An error response from the Pipelines Resource Provider.
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
          description: Details of the error from the Pipelines Resource Provider.
      x-ms-external: true
    InputValue:
      description: Representation of a pipeline template input parameter value.
      properties:
        displayValue:
          description: Description of the input parameter value.
          type: string
        value:
          description: Value of an input parameter.
          type: string
      type: object
    CloudErrorBody:
      description: An error response from the Pipelines Resource Provider.
      properties:
        code:
          description: An identifier for the error. Codes are invariant and are intended to be consumed programmatically.
          type: string
        details:
          description: A list of additional details about the error.
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          type: array
        message:
          description: A message describing the error, intended to be suitable for display in a user interface.
          type: string
        target:
          description: The target of the particular error. For example, the name of the property in error or the method where the error occurred.
          type: string
      x-ms-external: true
    InputDescriptor:
      description: Representation of a pipeline template input parameter.
      properties:
        description:
          description: Description of the input parameter.
          type: string
        id:
          description: Identifier of the input parameter.
          type: string
        possibleValues:
          description: List of possible values for the input parameter.
          items:
            $ref: '#/components/schemas/InputValue'
          type: array
        type:
          description: Data type of the value of the input parameter.
          enum:
          - String
          - SecureString
          - Int
          - Bool
          - Authorization
          type: string
          x-ms-enum:
            modelAsString: true
            name: InputDataType
      required:
      - id
      - type
      type: object
    PipelineTemplateDefinitionListResult:
      description: Result of a request to list all pipeline template definitions.
      properties:
        nextLink:
          description: The URL to get the next set of pipeline template definitions, if there are any.
          type: string
        value:
          description: List of pipeline template definitions.
          items:
            $ref: '#/components/schemas/PipelineTemplateDefinition'
          type: array
      type: object
  parameters:
    ApiVersionParameter:
      description: API version to be used with the HTTP request.
      in: query
      name: api-version
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
